.CocktailPrev{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img{
    height: 250px;
    width: 250px;
    border-radius: 10px;
}
.card{
    width: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}